/* CSS Document */

/* General Form Styles */
legend.form-title{
	font-size:14px;
	color:#000;
	background:#FFF;
	border-bottom:1px solid #e7e9ec;
	font-style:italic;
	text-transform:uppercase;
	width:100%;
	padding:15px 0;
	text-align:center;
	margin-bottom:10px;
}
form legend.form-title.cart{
	background:url(../images/cart.png) 45px center  no-repeat #FFF;
}
form fieldset{
	border:none;
	padding:0;
	margin:0;
}
input::-webkit-input-placeholder {
    color:    #f74a5a;
	letter-spacing:2px;
	font-size:11px;	
}
input:-moz-placeholder {
    color:    #f74a5a;
	letter-spacing:2px;
	font-size:11px;	
}
input[type=text],
input[type=password]{
	padding: 8px 5px;
	text-align:center;
	color:#000;
	border:1px solid #a4a8ab;
	-moz-box-shadow: inset 0px 1px 1px 1px #d7e1e3;
	-webkit-box-shadow: inset 0px 1px 1px 1px #d7e1e3;
	box-shadow: inset 0px 1px 1px 1px #d7e1e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#f2fdfd;
}
input[type=submit],
input[type=button]{
	background:url(../images/button-bg.png) center left repeat-x;
	border:none;
	padding:10px 10px;
	cursor:pointer;
	color:#000;
	/*text-shadow:#FFF 0 2px 1px;*/
}
.checkbox, .radio {
	width: 20px;
	height: 18px;
	padding: 0 0px 0 0;
	background:url(../images/checkbox2.png) no-repeat;
	display: inline-block;
	vertical-align:middle;
	clear: left;
	/*float: left;*/
}
.radio {
	background: url(radio.png) no-repeat;
}

label{
	/*color:#abe03f;*/
	font-size:12px;
	letter-spacing:1px;
	vertical-align:middle;
	display:inline-block;
}
.product-form form{
	width:54px;
	display:inline-block;
}
/*firefox hacks */
@-moz-document url-prefix() { 
	label{
		display:block;
		vertical-align:bottom;
		padding-top:10px;
		line-height:14px;
	}
	legend.form-title{
		padding:23px 0 10px;
	}
}