body{
	width:100%;
}

#browseHeadline,
#browse,
#search-results,
#search{
	width:100%;
	padding:0;
	margin:0;
}
#browes-categories{
	width:268px;
	margin: 0 auto;
}
.category li a,
.search-results-list li a{
	 font-family:Arial, Helvetica, sans-serif;
	 color:#000;
	 line-height:12px;

}

#browseHeadline{
	width:100%;
}

#search-brands,
#search-product-type,
#search-product{
	width:33%;
}

#mini-shopping-list{
	display:none;
}

