body{
	width:100%;
}

#browseHeadline,
#browse,
#browes-categories,
.browse-list,
.category,
#search{
	width:100%;
	padding:0;
	margin:0;
}

.browse-list{
	border-left:none;
	border-right:none;
	-webkit-box-shadow:none;	
	-moz-box-shadow:none;		
	box-shadow: none;	
}

.category{
	margin:0;
}
#corner-banner{
	display:none;
}