/* CSS Document */
#search{
	width:350px;
	/*margin: 120px auto 0;*/
	margin: auto auto 0;
	text-align:center;
}
#search-form{
	margin-top: 20px;
}
#search-input{
	padding: 8px 5px;
	text-align:center;
	color:#000;
	border:1px solid #a4a8ab;
	-moz-box-shadow: inset 0px 2px 10px 1px #d7e1e3;
	-webkit-box-shadow: inset 0px 2px 10px 1px #d7e1e3;
	box-shadow: inset 0px 2px 10px 1px #d7e1e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}
#search-input::-webkit-input-placeholder {
    color:    #000;
	letter-spacing:2px;
	font-size:11px;	
}
#search-input:-moz-placeholder {
    color:    #000;
	letter-spacing:2px;
	font-size:11px;	
}