#shoppinglist-list{
	background: url(../images/form-background.png) top left repeat;
	border:1px solid #d2e1ec;
	width:340px;
	display:inline-block;
	margin-left:20px;
	vertical-align:top;	
}
#shoppinglist-list table{
	color:#000;
	font-size:12px;
	padding-top:15px;
}
#shoppinglist-list table th{
	font-weight:normal;
	color:#669B1E;
}
#shoppinglist-list table tbody td{
	padding: 6px 0px;	
}
#shoppinglist-list table tbody tr:last-child td{
	padding:6px 0 20px;
}
#shoppinglist-list table tfoot td{
	border-top:#000 1px solid;
	color: #00aef0;
	padding:20px 0;
	background:#ecf2f1;
}

#mini-shopping-list{
	top:175px;
	width:457px;
	position:fixed;
	right:-412px;
	display:inline-block;
	vertical-align:top;
	z-index:99;	
}
#mini-shopping-list .tab{
	width:45px;
	float:left;
	/*display:none;*/
	cursor:pointer;
}
#mini-shopping-list table{
	font-size:12px;
	font-weight:lighter;
	text-align:center;
}
#mini-shopping-list table tfoot td{
	color:#82a100;
	border-top:1px solid #7b9cb0;
}

#mini-shopping-list td{
	padding: 5px 0;
	/*color:#abe03f;*/
	color:red;
}
#mini-shopping-list th{
	color:#82a100;
	font-weight:lighter;
	padding:5px 0;
}
#mini-shopping-list form{
	float:right;
	background: url(../images/form-background.png) top left repeat;
	width:410px;
	border:1px solid #ccc;
	height:250px;
	overflow-y:auto;
}
#mini-shopping-list form legend{
	background:none !important;
}
#mini-shopping-list fieldset{
	text-align:right;
}
.delete-product-button{
	background:none;	
	border:none;
	
}
/************** Big Shopping list ************/

#big_shopping_list{
	width: 1000px;
	margin:0 auto;
	background:#FFF;
	border:1px solid #d4dab7;
}
#big_shopping_list form{
	margin-bottom:4px;;
}
#big_shopping_list thead{
	/*color:#abe03f;*/
	color:red;
}
#big_shopping_list tbody{
	color:#000;
}
#big_shopping_list tfoot{
	border-top:1px solid #dae4e4;
	background: #edf3ee;
	text-align:center;
	padding-bottom:10px;
	/*color:#82a000;*/
	color:red;
}
#big_shopping_list tfoot .border-top{
	border-top:2px solid #dae4e4;
	padding:10px 0;
	margin-top:10px;
}
#big_shopping_list tfoot .supermarket-savings{
	color:#710f6b;	
}
#big_shopping_list tfoot .select p{
	text-align:left;
	margin-left:20px;
}
#big_shopping_list tfoot .buttons p{
	text-align:right;
	margin-right:10px;
}
#message{
	display:none;
	width:100%;
	text-align:center;	
}
#mini-shopping-list-products,
#mini-shopping-list-header,
#mini-shopping-list-totals{
	width:100%;
	font-size:12px;
	color:#000;
	text-align:left;
}
#mini-shopping-list-products .mini-shopping-list-item,
#mini-shopping-list-header .mini-shopping-list-item{
	width:168px;
	display:inline-block;
	text-align:left;
	margin-left:8px;
	text-transform:capitalize;
}
#mini-shopping-list-products .mini-shopping-list-available,
#mini-shopping-list-header .mini-shopping-list-available{
	width:73px;
	display:inline-block;
	text-align:center;
}
#mini-shopping-list-products .mini-shopping-list-rrp,
#mini-shopping-list-header .mini-shopping-list-rrp{
	width:50px;
	display:inline-block;
	text-align:center;
}
#mini-shopping-list-products .mini-shopping-list-special,
#mini-shopping-list-header .mini-shopping-list-special{
	width:50px;
	display:inline-block;
	text-align:center;
}
#mini-shopping-list-products .mini-shopping-list-list,
#mini-shopping-list-header .mini-shopping-list-list{
	width:16px;
	display:inline-block;
	text-align:center;
}

#mini-shopping-list-totals .mini-shopping-list-totals-heading{
	width:245px;
	display:inline-block;
	text-align:center;
}
#mini-shopping-list-totals .mini-shopping-list-rrp-total{
	width:50px;
	display:inline-block;
	text-align:right;
	margin-right:13px;
}

#mini-shopping-list-totals .mini-shopping-list-special-total{
	width:70px;
	display:inline-block;
	text-align:left;
}
.mini-shopping-list-no-products{
	width:100%;
	text-align:center;	
	display:block;
	margin-top:20px;
}
@media screen and (max-width:640px) {
	#mini-shopping-list{
		display:none;
	}
}
/*iPad CSS Rules */
/*@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
		#mini-shopping-list{
			display:none;
		}
}*/