/* CSS Document */

body{
	/*background:url(../images/body-bg.jpg) top left repeat;*/
	/*background:#f7fed4;*/
	background:#FFF;
	padding:0;
	margin:0;
	font-family:'Helvetica Neue';
}
.for-print{
	display:none;
}
#logo{
	
}
/* General Styls */
p{
	color:	#000;
	/*font-size:14px;*/
	/*letter-spacing:2px;*/
	text-align:center;
}
a{
	color:#00aef0;
	text-decoration:none;
}
.inline{
	float:left;
	border-left: 1px solid #FFF;
	padding:0 17px;
}
.inline.first{
	border-left:none;
}
.shadow{
	-moz-box-shadow: 1px 1px 1px 1px #bdcbd2;
	-webkit-box-shadow: 1px 1px 1px 1px #bdcbd2;
	box-shadow: 1px 1px 1px 1px #bdcbd2;
}
.rounded-corners{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.top-rounded-corners{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.bottom-rounded-corners{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.left-rounded-corners{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.right-rounded-corners{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.dark-panel{
	background:#00aef0;
	border-bottom:1px solid #707362;
	color:#fff;
	min-height:30px;
}
.white-panel{
	background:#fff;
}
button{
	cursor:pointer;
}
.hidden{
	display:none;
}
#toolbar{
	width:100%;
	position:fixed;
	top:0;
}
.toolbar-nav,
.user-nav{
	list-style:none;
	padding:8px 0;
	margin:0 auto;
	font-size:11px;
	/*width:1080px;*/
	position:absolute;
}
.toolbar-nav a,
.user-nav a{
	color:#FFF;
	text-decoration:none;
	letter-spacing:2px;
}
.toolbar-nav{
	display:inline-block;
	left:0;
}
.user-nav{
	display:inline-block;
	right:0;
}
.toolbar-nav > li{
	float:left;
	height:24px;
}
/* 2nd level toolbar */
.toolbar-nav li ul{
	display:none;
	
	position:absolute;
	margin:22px 0px 0px 0px;
	padding:0px 0 0;
	
}
.toolbar-nav li:hover ul{
	display:inherit;
	min-width:160px;
}
.toolbar-nav li ul li{
	padding: 5px 0 5px 16px;	
}
.toolbar-nav li ul li a{
	
	padding:5px 3px;
}

/*page types*/
#browse{
	width:900px;
	margin: 20px auto 0;
	clear:both;
	/*text-align:center;*/
}
#product-detail
{
	width:663px;
	margin:20px auto 0;
	text-align:center;
}
#product-list{
	background:#00aef0;
	width:640px;
	margin:0 auto;
	padding:5px;
	margin-top:20px;
}


#user-home{
	width:730px;
	margin:10px auto;
}
#login,
#register,
#forgotten
{
	width:390px;
	margin:0 auto;
	background:#fdfff6;
	margin-top:20px;
	padding: 0 5px 10px;
	-moz-box-shadow: 3px 3px 8px #555;
	-webkit-box-shadow: 3px 3px 8px #555;
	box-shadow: 3px 3px 8px #555;
}

.highlighted {
	position:relative;
	width:95%;
}

#highlight_product_list
{
	width:640px;
	margin:0 auto;
	padding:5px;
	margin-top:20px;	
}
.email_var_div{
	width:435px !important;
	margin-bottom: 250px !important;
}
.email_var{
	padding:20px 20px 0px;
}
#basic-content{
	width:960px;
	margin:0 auto;
}
#basic-content p{
	text-align:left !important;
}
/* Blocks */
/************ BASIC PAGE ******************************/
#basic-content p{
	color:#000;
}
#basic-content p strong{
	color:	#00aef0;
}
#basic-content li{
	/*font-size:12px;*/
}
/************ REGISTRATION / LOGIN ********************/
#registration-form,
#login-form,
#forgotten-form{
	text-align:center;
}

#registration-form input,
#login-form input,
#forgotten-form input{
	margin: 8px auto;
	
}
#registation-form input:first,
#login-form input:first{
	margin-top:15px;
}

#error-message{
	background:#fcc9cd;
	border:1px solid #ff1228;
	color:#ff1228;
	width:500px;
	margin: 10px auto;
}

/************** USER HOME PAGE **********************/
#user-panel{
	width:360px;
	display:inline-block;
}
#user-panel #welcome-user{
	color:#798276;
	font-size:19px;
}
#user-details{
	background:#fff;
	border:12px solid #abe03f;
	text-align:left;
	font-size:15px;
	color:#abe03f;
	padding:10px;
}
#user-details h4{
	font-size:13px;
	font-style:italic;
	margin: 10px 30px 10px 10px;
	padding: 0 0 10px;
	border-bottom:1px solid #000;
	font-weight:normal;
	color:#000;
}
#user-details .value{
	color:#000;	
}
#user-details .form-field{
	list-style:none;
	padding:0;
	margin:0 0 10px;	
}
#user-details .form-field label{
	padding: 3px 10px;
	margin:0;
	font-weight:normal;
}
.user-details-list{
	list-style:none;
	margin:0 10px;
	padding:0;	
}
.user-details-list li{
	padding:4px 0;
}
/**************** BROWSE PAGE ***************************/
#browes-categories{
	width:268px;
	margin: 0 auto;
}

.browse-list{
	width:245px;
	/*min-height:525px;*/
	background:#00aef0;
	border:1px solid #7696a6; 
	margin: 0 10px;
	display:inline-block;
	vertical-align:top;
	-moz-box-shadow: 3px 3px 8px #333;
	-webkit-box-shadow: 3px 3px 8px #333;
	box-shadow: 3px 3px 8px #333;
}

.category
{
	list-style:none;
	/*background:#f1e8ee;*/
	background:#FFF;
	margin:7px;
	padding:0;
}
.search-results-list{
	margin:0;
	padding:0;
	list-style:none;
}
.category li
{
	color:#5b839f;
	margin:0 5px 0 15px;
	padding: 8px 2px 0;
}
.search-results-list li{
	margin: 8px 0 0;
	padding:0;	
}
.category li:last-child a,
.search-results-list li:last-child a{
	border:none;
}
.category li a,
.search-results-list li a{
	color:#333;
	border-bottom: 2px solid #abe03f;
	display:block;
	width:auto;
	margin:0 5px 0 0;
	padding:0 0 10px 0;
}
.category li.current-category{
	background:url(../images/green-tick.png) center right no-repeat;
}
.category li.current-category a{
	/*color:#e74454;*/
	/*color:#87B655;*/
	color:red;
}
#lodingProductList{
	text-align:center;	
}
#browseHeadline{
	width:680px;
	/*margin:0 auto;*/
	margin-left:23%;
	text-align:center;
}
#go-back,
#product-title{
	display:inline-block;
	text-align:left;	
}
#go-back{
	width:260px;
	color:#000;
	cursor:pointer;
	float:left;
}
#product-title{
	width:385px
}

/******************** PRODUCT DETAILS PAGE **************/
#product-wrapper{
	background:#00aef0;
	border:1px solid #7696a6;
	width:630px;
	display:inline-block;
	-moz-box-shadow: 3px 3px 8px #333;
	-webkit-box-shadow: 3px 3px 8px #333;
	box-shadow: 3px 3px 8px #333;
	text-align:left;
	margin:0 auto;
	/*position:absolute;
	z-index:99;*/
}
.product{
	background:	#FFF;
	width:286px;
	padding:10px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:10px;
}
.product .image{
	width:132px;
	height:	160px;
	border:1px solid #d5d9d4;
	background:#FFF;
	text-align:center;
}
.product .product-data{
	vertical-align:top;
	padding-left:10px;
}

.product .supermarket{
	text-align:center;
}
.product .product-data td{
	color:#000;
	font-size:12px;
}
.product .product-data .price{
	padding-top:10px;	
}
.product .product-data .product-name{
	/*color:#abe03f !important;*/
	color:red;
	font-size:14px !important;
}

.product .forms{
	/*text-align:right;*/
	padding-left:10px;	
}
.product.even{
	margin-left:20px;
}
.product-image{
	margin:12px;
	border:1px solid #d5d9d4;
	width:295px;
	display:inline-block;
	text-align:center;
	background:#FFF;
}
.product-thumb{
	/*border:1px solid #d5d9d4;
	background:#FFF;*/
	padding: 10px 0;	
}
.product-image img{	
	padding: 12px 0;	
}
.product-detail{
	width:290px;
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
}
h2.product-name,
h2.weight{
	/*color:#abe03f;*/
	color:red;
	font-size:17px;
	font-weight:normal;
	margin:5px 0;
}
.product-detail p{
	color:#798276;
	text-align:left;
	line-height:17px;
	margin:0px 0;	
}
.product-detail p.special{
	border-bottom:1px solid #83a100;
	padding-bottom:9px;
}
.product-detail .product-description{
	margin-top:10px;
}
.button-add{
	float:right;
	margin:10px;
	display:inline;
}
form.add-to-basket{
	width:48px;
	display:inline;	
}
button.view-product{
	display:inline;
}
/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
form div{position:relative; /*width:109px;*/ /*display:inline-block*/} 

/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
    position:relative;
    z-index:10;
    width:109px !important;
    height:26px !important;
    line-height:26px;
}
/* dynamically created SPAN, placed below the SELECT */
span.select{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:109px;
    height:26px;
    line-height:26px;
    /*text-indent:10px;*/
    background:url(../images/bg_select.png) no-repeat 0 0;
    cursor:pointer;
    z-index:1;
	text-align:left;
	padding-left:6px;
	font-size:12px;
}
select option{
	background-color:#969696;
	border-top:#ababab 1px solid;
	border-bottom:#787878;
	margin:0 1px;
	color:#FFF;
}
#product-detail #product-wrapper{
	width:660px;
	margin-top:20px;	
}
#product-detail .product{
	width:auto;	
	margin:10px;
}

/* SEARCH */
#search-results{
	width:656px;
	margin:0 auto;
	background:#abe03f;
	color:#000;
}
/*#search-brands,*/
#search-brands{
	display:none;	
}
#search-brands,
#search-product-type,
#search-product{
	width:186px;
	display:inline-block;
	vertical-align:top;
	margin:10px 5px;
	/*background:#f1e8ee;*/
	background:#fff;
	padding:10px;
}

#search-results-brand-results a,
#search-results-product-type-results a,
#search-results-product-results a{
	color:#333 !important;
}


#overlay{
	height:100%;
	width:100%;
	position:fixed;
	background:	#FFF;
	z-index:9999;
 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
  display:none;
  top:0;
  left:0;
}
#overlay-content{
	width: 500px;
	margin:80px auto;
	background:#f7fed4;
	position:fixed;
	z-index:99999;
	margin:auto;
	display:none;
}
#overlay-content #overlay-header{
	background:#9fb800;
	color:#F7FED4;
}
#overlay-content #overlay-header p{
	color:#F7FED4;
	margin:0;
	display:inline-block;
	text-align:left;
	width:460px;
	padding-left:20px;
	padding-top:5px;
}
#overlay-content #message{
	color:	#f74a5a;
	padding:30px 50px;
	margin:0 auto;
	text-align:center;
	width:400px;
}
#overlay-content #overlay-header #close{
	display:inline-block;
	text-align:right;
	width:15px;
	cursor:pointer;
}
/* logo */

#logo {
	text-align:center;
	padding-top: 85px;
	/*padding-bottom:50px;
	background:url(../images/robot.png) top left no-repeat;
	width:480px;
	margin:40px auto 0;*/
}

#browseHeadline {
	text-align:center;
	padding-top: 20px;
}
#banner{
	text-align:center;
	margin:35px auto -40px;
}
#corner-banner{
	background:url(../images/corner-banner.png) top right no-repeat;
	width:165px;
	height:165px;
	position:fixed;
	top:0;
	right:0;
	z-index:10;
	color:#FFF;
}
#corner-banner p{
	color:#FFF;
	text-align:center;
	width:130px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	margin: 38px 0 0 43px;
	font-size:13px;
}
.no-border{
	border:none !important;
}
.purple{
	color:#710f6b !important;	
}
/*Footer*/
#footer-links{
	list-style:none;
	text-align:center;
	margin-top:30px;
}
#footer-links li{
	display:inline-block;
	border-right: 1px solid #C2C2C2;
	padding: 0 10px;
	line-height:12px;
}

#footer-links li:last-child{
	border:none;
}

#footer-links li a,
#footer-links li{
	font-size: 10px;
	line-height:12px;
	vertical-align:middle;
	color:#000;	
}

a.has-no-sales{
	color:#CCC !important;
}
#basic-content h2{
	color:#00aef0;
}



/*firefox hacks */
@-moz-document url-prefix() { 

	#footer-links li a, 
	#footer-links li{
		display:inline-block;
		vertical-align:bottom;
		padding-top:3px;
	}
	label{
		display:block;
		vertical-align:bottom;
		padding-top:3px;
	}
	.forgot_pass{
		display:block;
	}
	.category li a{
		padding:5px 0 5px;
}


